<!-- start custom head snippets -->

{% if site.github.url == site.prod_url__ %}
{% include head/adblock.html %}
{% include head/adblock_add.html %}
{% endif %}

<!-- 커스텀: 구글 애드센스 -->
{% if site.github.url == site.prod_url__ %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8120389152057270"
     crossorigin="anonymous"></script>
{% endif %}

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/logos/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/logos/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/logos/favicon-16x16.png">
<link rel="manifest" href="/assets/logos/site.webmanifest">
<link rel="mask-icon" href="/assets/logos/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
