<!-- 구글 애드센스 -->
{% if site.github.url == site.prod_url__ %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8120389152057270"
     crossorigin="anonymous"></script>

<!-- 인아티클 -->

<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-8120389152057270"
     data-ad-slot="8363915998"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% else %}

```plaintext
** Place for AdSense (inarticle) **
```
{% endif %}
