<!-- 구글 애드센스 -->
{% if site.github.url == site.prod_url__ %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8120389152057270"
     crossorigin="anonymous"></script>

<!-- 내 멀티플렉스 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-8120389152057270"
     data-ad-slot="3188337285"
     data-matched-content-rows-num="1,1"
     data-matched-content-columns-num="1,4"
     data-matched-content-ui-type="image_stacked,image_stacked">
</ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% else %}

```plaintext
** Place for AdSense (Multiplex) **
```
{% endif %}
