<!-- 구글 애드센스 -->
{% if site.github.url == site.prod_url__ %}

<div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8120389152057270"
     crossorigin="anonymous"></script>

<!-- 퀀트아래D -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8120389152057270"
     data-ad-slot="9466912973"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

{% else %}

{% comment %}
** site.source: {{ site.source }}
{% if site.source contains 'QuantKangAlpha.github.io' %}
  {{ site.source }} contains QuantKangAlpha.github.io
{% endif %}
{% endcomment %}

```plaintext
** Place for AdSense (퀀트아래D): service_type__ {{ site.service_type__ }} **
** Place for AdSense (퀀트아래D): site.github.url {{ site.github.url }} **
```

{% endif %}
