<!-- 쿠팡 파트너스 -->
<script src="https://ads-partners.coupang.com/g.js"></script>
<script>
  var pc_width = document.querySelector(".page__content").clientWidth;
  console.log("pc_width = ", pc_width);
{% if site.github.url == site.prod_url__ %}
	new PartnersCoupang.G({"id":755374,"template":"carousel","trackingCode":"AF3144276","subId":"quantkang","width":pc_width,"height":"140","tsource":""});
{% else %}
	new PartnersCoupang.G({"id":755374,"template":"carousel","trackingCode":"AF3144276","subId":"quantkangalpha","width":pc_width,"height":"140","tsource":""});
{% endif %}
{% comment %}
  document.write("<small>이 포스팅은 쿠팡 파트너스 활동의 일환으로, 이에 따른 일정액의 수수료를 제공받습니다.</small>");
{% endcomment %}
</script>
